

#gameContainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(20, 112, 211, 0.276);
    
    justify-content: center;
    border:2px solid gray;


    padding: 1em;
    box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.598);
}

#gameField  {
    display: flex;
    
    flex-direction: column;
    flex-wrap:nowrap;
    border:1px solid gray;
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    
}




@keyframes removingAnimation {
    from {
        opacity: 1;
        transform: translate(0px, 0px);
        width: 100%;
        height: 100%;
        
    } 
    to {
        opacity: 0.1;
        transform: translate(17px, 17px);
        width: 20%;
        height: 20%;
    }
}

 
.path  { 
    height: 100%;
    width: 100%;
    border-radius: 50%;    
    animation-name: pathAnimation;
    animation-duration: 0.5s;
    opacity: 0.0;
}

.removing  {   
    animation-name: removingAnimation;
    animation-duration: 0.3s;
    opacity: 0.0;
}

#topPane {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 1em;
    align-items:center;
}
#bottomPane {
    text-align: right;
    margin-top: 1em;
}

.placeForNext {
    
    width: 3.1em;
    height: 3.1em;
    
    padding: 8px;
    box-sizing: border-box;
    display: inline-block;
}

#nextBalls {
    display: inline-flex;
    flex-direction: row;
    border-style: inset;
    background-color: lightgray;
   
}

.score {
    background-color: lightgray;
    border-style: inset;
    width: 8em;
    text-align: right;
}

button {
   
    cursor:pointer;
    background-color: #0078d0;
    border: 0;
    border-radius: 10%;
    color: white;
    height: 100%;
    font-family:inherit;
    box-sizing: border-box;
 
    padding: 0px 0px;
    
    text-align: center;

    transition: all .3s;
   
    box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.598);  
}

button:hover {
    box-shadow: 3px 4px 10px 1px rgba(0, 0, 0, 0.598);  
}

button:active {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.598);
    background-color: #eb0a24;  
}
  

  
  @media (min-width: 768px) {
    button {
      padding: 16px 48px;
    }
  }

  details.inline[open] > div {

    background-color: white;
    border: 2px inset black;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.598);
    position: absolute;
    vertical-align:top;
  }