

#gameContainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(20, 112, 211, 0.276);
    
    justify-content: center;
    border:2px solid gray;


    padding: 1em;
    box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.598);
}

#gameField  {
    display: flex;
    
    flex-direction: column;
    flex-wrap:nowrap;
    border:1px solid gray;
}

#topPane {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 1em;
    align-items:center;
}
#bottomPane {
    text-align: right;
    margin-top: 1em;
}

.placeForNext {
    
    width: 3.1em;
    height: 3.1em;
    
    padding: 8px;
    box-sizing: border-box;
    display: inline-block;
}

#nextBalls {
    display: inline-flex;
    flex-direction: row;
    border-style: inset;
    background-color: lightgray;
   
}

.score {
    background-color: lightgray;
    border-style: inset;
    width: 8em;
    text-align: right;
}


  details.inline[open] > div {

    background-color: white;
    border: 2px inset black;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.598);
    position: absolute;
    vertical-align:top;
  }