@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensures full viewport height for vertical centering */

  font-family: "Bruno Ace", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0; /* Removes any default body margin */
}